= javascript_include_tag "//maps.google.com/maps/api/js?key=AIzaSyBhrg6DyBwyOQZnLUBWMcUjXDs142L6VL8"
= javascript_include_tag "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"
